Many headlines were made saying that in 2019 there was a decrease in percentage of students who gave SAT compared to ACT which led to people suggesting to stop conducting SAT altogether and focus on ACT which resulted in college board forming a committee to check the same.
This analysis seeks to explore if the headlines made were true , if so what are those states and possible reasons behind that.
This analysis also aims to make recommendations to the College Board for strategies to improve participation rate*Replace this cell with your problem statement.

In [3]:
def mean_values(numbers):
    count=int(len(numbers))
    sum_numbers=sum(numbers)
    mean_numbers=sum_numbers/count
    return mean_numbers

In [4]:
mean_values([13, 18, 13, 14, 13, 16, 14, 21, 13])

15.0

In [ ]:
# Code:
def std_deviation(list_numbers):
    mean=mean_values(list_numbers)
    n=len(list_numbers)
    step2_list=[]
    for i in list_numbers:
        step_1=(i-mean)**2
        step2_list.append(step_1)
    step_3=sum(step2_list)/(n-1)
    final_stdeviation=(step_3)**(1/2)
    return final_stdeviation

In [5]:
# Code:
def percentage_to_float(num_percentage):
    replace_string=num_percentage.replace("%","").replace("—","0")
    final_result=float(replace_string)/100
    return  final_result

In [6]:
percentage_to_float("50%")

0.5

In [7]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Code:
sat_2019 = pd.read_csv("../data/sat_2019.csv")
act_2019 = pd.read_csv("../data/act_2019.csv")

In [9]:
display(sat_2019.head(5))
display(act_2019.head(5))

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [10]:
#checking for missing values
print(                 'SAT 2019')
display(sat_2019.isnull().sum())
print()
print(                 'ACT 2019')
display(act_2019.isnull().sum())

SAT 2019

State                 0
Participation Rate    0
EBRW                  0
Math                  0
Total                 0
dtype: int64

ACT 2019

State            0
Participation    0
Composite        0
dtype: int64

In [11]:
#Getting value counts and sorting the index
print(                 'SAT 2019')
display(sat_2019[['Participation Rate']].value_counts().sort_index(ascending=False).head(5))
print()
print(                 'ACT 2019')
display(act_2019[['Participation']].value_counts().sort_index(ascending=False).head(5))

SAT 2019

Participation Rate
—                     2
99%                   2
95%                   1
94%                   1
9%                    1
dtype: int64

ACT 2019

Participation
96%              1
95%              1
82%              1
80%              1
78%              1
dtype: int64

In [12]:
#datatypes
display(sat_2019.dtypes)
act_2019.dtypes

State                 object
Participation Rate    object
EBRW                   int64
Math                   int64
Total                  int64
dtype: object

State             object
Participation     object
Composite        float64
dtype: object

In [13]:
print('ACT 2019')
display(act_2019.describe())
print('SAT 2019')
sat_2019.describe()

ACT 2019

       Composite
count  52.000000
mean   21.450000
std     2.175487
min    17.900000
25%    19.800000
50%    20.950000
75%    23.650000
max    25.500000

SAT 2019

             EBRW        Math        Total
count   53.000000   53.000000    53.000000
mean   558.000000  548.471698  1106.528302
std     47.554422   53.785044   100.994784
min    483.000000  445.000000   935.000000
25%    518.000000  506.000000  1024.000000
50%    550.000000  545.000000  1097.000000
75%    610.000000  596.000000  1200.000000
max    636.000000  648.000000  1284.000000

In [14]:
#renaming columns
sat_2019.rename(columns= {'EBRW': 'english', 'Total': 'score', 'Math': 'math', 'State': 'state', 'Participation Rate': 'participation'}, inplace=True)
act_2019.rename(columns= {'Composite': 'score', 'State': 'state', 'Participation': 'participation'}, inplace=True)

In [15]:
display(act_2019)
display(sat_2019)

                   state participation  score
0                Alabama          100%   18.9
1                 Alaska           38%   20.1
2                Arizona           73%   19.0
3               Arkansas          100%   19.3
4             California           23%   22.6
5               Colorado           27%   23.8
6            Connecticut           22%   25.5
7               Delaware           13%   24.1
8   District of Columbia           32%   23.5
9                Florida           54%   20.1
10               Georgia           49%   21.4
11                Hawaii           80%   19.0
12                 Idaho           31%   22.5
13              Illinois           35%   24.3
14               Indiana           29%   22.5
15                  Iowa           66%   21.6
16                Kansas           72%   21.2
17              Kentucky          100%   19.8
18             Louisiana          100%   18.8
19                 Maine            6%   24.3
20              Maryland           28%   22.3
21         Massachusetts           21%   25.5
22              Michigan           19%   24.4
23             Minnesota           95%   21.4
24           Mississippi          100%   18.4
25              Missouri           82%   20.8
26               Montana          100%   19.8
27              Nebraska          100%   20.0
28                Nevada          100%   17.9
29         New Hampshire           14%   25.0
30            New Jersey           25%   24.2
31            New Mexico           63%   19.3
32              New York           22%   24.5
33        North Carolina          100%   19.0
34          North Dakota           96%   19.9
35                  Ohio          100%   20.0
36              Oklahoma          100%   18.9
37                Oregon           42%   21.1
38          Pennsylvania           17%   23.6
39          Rhode Island           12%   24.7
40        South Carolina           78%   18.8
41          South Dakota           75%   21.6
42             Tennessee          100%   19.4
43                 Texas           39%   20.5
44                  Utah          100%   20.3
45               Vermont           20%   24.1
46              Virginia           21%   24.0
47            Washington           24%   22.1
48         West Virginia           49%   20.8
49             Wisconsin          100%   20.3
50               Wyoming          100%   19.8
51              National           52%   20.7

                   state participation  english  math  score
0                Alabama            7%      583   560   1143
1                 Alaska           41%      556   541   1097
2                Arizona           31%      569   565   1134
3               Arkansas            6%      582   559   1141
4             California           63%      534   531   1065
5               Colorado          100%      518   506   1024
6            Connecticut          100%      529   516   1046
7               Delaware          100%      499   486    985
8   District of Columbia           94%      495   480    975
9                Florida          100%      516   483    999
10               Georgia           71%      538   519   1058
11                Hawaii           54%      550   550   1100
12                 Idaho          100%      505   488    993
13              Illinois          100%      509   504   1013
14               Indiana           66%      543   537   1080
15                  Iowa            3%      622   622   1244
16                Kansas            4%      618   623   1241
17              Kentucky            4%      620   612   1232
18             Louisiana            5%      610   591   1200
19                 Maine           99%      512   502   1013
20              Maryland           82%      535   523   1058
21         Massachusetts           81%      559   561   1120
22              Michigan          100%      507   496   1003
23             Minnesota            4%      636   648   1284
24           Mississippi            3%      628   608   1237
25              Missouri            4%      622   615   1236
26               Montana            9%      603   596   1199
27              Nebraska            3%      628   631   1260
28                Nevada           20%      580   576   1156
29         New Hampshire           95%      533   526   1059
30            New Jersey           82%      544   545   1090
31            New Mexico           18%      543   530   1073
32              New York           79%      531   533   1064
33        North Carolina           51%      554   546   1100
34          North Dakota            2%      627   636   1263
35                  Ohio           19%      550   548   1097
36              Oklahoma           22%      490   472    963
37                Oregon           51%      562   550   1112
38          Pennsylvania           70%      545   537   1082
39           Puerto Rico             —      483   462    944
40          Rhode Island          100%      503   492    995
41        South Carolina           68%      526   504   1030
42          South Dakota            3%      633   635   1268
43             Tennessee            7%      618   602   1220
44                 Texas           68%      515   507   1022
45                  Utah            4%      614   615   1230
46               Vermont           66%      560   546   1106
47        Virgin Islands             —      490   445    935
48              Virginia           68%      567   551   1119
49            Washington           70%      539   535   1074
50         West Virginia           99%      483   460    943
51             Wisconsin            3%      635   648   1283
52               Wyoming            3%      623   615   1238